# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# HW3
*.dmp
infect

# HW4
input.txt
# A
!**/dumbledore.exe
# B
!**/format_string_vulnerability.exe
**/attack
**/benign

# HW5
# A
!**/dumbledore_rop.exe
**/ROPgadget-4.0.2

# HW6
**/assignment6-forensics.pdf
# Victim
**/victim.raw
**/DADAVictim/
!/HW6/VictimExplanation/**
!/HW6/VictimAnswers/**
# Suspect
**/suspect.raw
**/suspect.ova
**/DADASuspect/
!/HW6/SuspectExplanation/**
!/HW6/SuspectAnswers/**
